@charset 'UTF-8';


$primary-color:      #0079e3;
$kakao-color:        #ffe812;
$url-color:          #999;
$red-color:          #e84d4d;

// font
$default-font-color: #222;
$des-font-color:     #999;

// border-color
$border-color-01:    #ccc;
$border-color-02:    #bfd1e2;
$border-color-03:    #e0e0e0;